.desktop .howtouse-main{
    font-family: 'Poppins', sans-serif;
    background-image: url(assets/PNG/H2U/Background/page.png);
    position: relative;
    height: 7597px; /* Adjust height as needed */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    text-align: center; /* Center text within the section */
}

.desktop .howto-title{
    width: auto;
    margin:5%;
    margin-top: 5%
}

.desktop .howto-title h1{
    font-family: 'Berkshire Swash';
    font-size: 40px;
}

.desktop .howto-title img{
    margin-top: 7px;
    height: 8px;
    width: 350px;
}

.desktop .howto-title p{
    margin-top: 2%;
    font-weight: 300;
    font-size: 20px;
}

.desktop .howto-content{
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
}

.desktop .howto-content h4{
    font-weight: 800;
}

.desktop .howto-content p{
    
    margin-top: 2.5%;
    font-size: 20px;
    font-weight: 300;
}

.desktop .howto-highlight{
    width: 145px;
    height: 4px;
    transform: translateX(115px);
}

.desktop .howto-content strong{
    font-weight: 500;
}