/* Navbar */
html, body {
    height: 100%;
    margin: 0;
    padding: -5px;
    overflow: auto; /* Ensure the document can scroll */
    background-color: #000000; /* Your background color */
    font-family: 'Poppins', sans-serif; /* Your font family */
    color: white;
}


/* NAV BAR BACKGROUND AND TEXT */
.custom-navbar {
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left edge of the viewport */
    width: 100%; /* Ensure the navbar spans the full width of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
    background-image: url('/assets/PNG/HOMEPAGE/Background/NAV BAR.png'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire navbar */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 117px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    padding: 0 25px; /* Adjust padding for some space on the sides */
}

/* Adjust the body or first section to account for the fixed navbar's height */
body {
    padding-top: 117px; /* Add top padding equal to the navbar's height */
}

/* NAV BAR ALIGNMENT */
.navbar-nav {
    display: flex;
    align-items: center;
}

/* NAVBAR LINKS POSITIONS */
.custom-navbar .nav-link, .shape {
    margin-right: 10px; /* Adjust the margin between navbar links */
    color: #ffffff;
}

/* NAVBAR BUTTON POSITIONS */
.nav-item {
    margin-right: 20px; /* Adjust spacing between nav items */
}

/* NAVBAR IMAGE POSITION */
.navbar-brand {
    padding: 5%;
}

/* SQUARE SHAPE */
.square {
    width: 200px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-color: transparent; /* Transparent background */
    position: relative; /* Ensure relative positioning for absolute children */
}

/* NAV RECTANGLE BUTTON CONFIGS */
.rect-button-image {
    position: absolute; /* Position the image absolutely */
    top: 0; /* Adjust top position */
    left: 0; /* Adjust left position */
    width: 100%; /* Set width to fill the button */
    height: 100%; /* Set height to fill the button */
}
.rect-button-image img {
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image fill its container */
}
.rect-button-text a {
    position: absolute; /* Position the text absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
    font-family: 'Poppins', sans-serif; /* Poppins font */
    font-size: 20px; /* Font size */
    font-weight: 600; /* Semibold */
    color: #ffffff; /* Text color */
    text-align: center; /* Text alignment */
    line-height: normal; /* Reset line height */
}

/* NAV POLY BUTTON CONFIGS */
.poly-button-image {
    position: absolute; /* Position the image absolutely */
    top: 0; /* Adjust top position */
    left: 0; /* Adjust left position */
    width: 98%; /* Set width to fill the button */
    height: 98%; /* Set height to fill the button */
}
.poly-button-image img {
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image fill its container */
}
.poly-button-text {
    position: absolute; /* Position the text absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
    font-family: 'Poppins', sans-serif; /* Poppins font */
    font-size: 20px; /* Font size */
    font-weight: 600; /* Semibold */
    color: #ffffff; /* Text color */
    text-align: center; /* Text alignment */
    line-height: normal; /* Reset line height */
}

/* LINK UNDERLINE REMOVER */
.link-button-text a {
    color: #ffffff; /* Text color */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
}


#footer-community-sect {
    background-image: url('assets/PNG/HOMEPAGE/Background/JOIN.png');
    font-family: 'Poppins', sans-serif;
    height: 232px; /* Set the height of the section */
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 0 10%; /* Add padding to make the section a bit wider */
}


.community-footers-col {
    height: auto; /* Allow height to adjust based on content */
}

.community-col{
    margin-right: -10%;
    height: auto; /* Allow height to adjust based on content */
}

#community-subtitle {
    font-size: 20px; /* Adjust the font size */
    font-weight: 300; /* Make the font thinner */
    font-family: 'Poppins', sans-serif; /* Apply the desired font family */
    margin-top: 25px;
}
.common-col {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Ensure the column takes up full height */
    padding: 20px 5%; /* Add padding to the top and bottom */
    font-family: 'Poppins', sans-serif; /* Apply the font family */
}

#footer-newsletter-sect {
    font-family: 'Poppins', sans-serif;
    background-image: url('assets/PNG/HOMEPAGE/Background/footer_news.png');
    height: 450px; /* Set the height of the section */
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 0 10%; /* Add padding to make the section a bit wider */
}

/* Common styles for both community and newsletter columns */
.col-6.common-col {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Ensure the column takes up full height */
    padding: 20px 5%; /* Add padding to the top and bottom */
    font-family: 'Poppins', sans-serif; /* Apply the font family */
}

#community-highlight{
    height: 5px;
    width: 220px; 
    transform: translateX(60px);
}

#community-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 38px; /* Adjust the font size */
    font-weight: 400; /* Make the font bold */
    letter-spacing: 2px;
}

#news-title {
    font-size: 28px; /* Adjust the font size */
    font-weight: bold; /* Make the font bold */
}



.footer-icons-col {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure the column takes up full height */
    transform: translateX(25px);
}

.footer-icons-col img {
    width: 78px; /* Set the width to 54px */
    height: 78px; /* Set the height to 54px */
}


#footer-newsletter-sect {
    font-family: 'Poppins', sans-serif;
    background-image: url('/assets/PNG/HOMEPAGE/Background/footer_news.png');
    height: 450px; /* Set the height of the section */
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 0 10%; /* Add padding to make the section a bit wider */
}


.newsletter-col {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Ensure the column takes up full height */
    padding: 20px 5%; /* Add padding to the top and bottom */
}


.newsletter-input-group {
    background-color: #fff; /* White background */
    border-radius: 50px; /* Rounded corners */
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    max-width: 700px; /* Max width */
    margin: 0 auto; /* Center horizontally */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Center align items */
}

.input-group-text {
    background-color: transparent; /* Transparent background for icon */
    border: none; /* No border */
}

input:focus,
textarea:focus,
select:focus {
    outline: none; /* Remove the blue outline */
    box-shadow: none; /* Remove any additional box shadow, if present */
}

#news-title {
    font-size: 40px; /* Adjust the font size */
    font-weight: 400; /* Make the font bold */
    font-family: 'Poppins', sans-serif; /* Apply the desired font family */
    margin-bottom: 5%;
    margin-top: -5%;
}

#news-subtitle {
    font-size: 22px; /* Adjust the font size */
    font-weight: 200; /* Make the font thinner */
    font-family: 'Poppins', sans-serif; /* Apply the desired font family */
    margin-bottom: 25px;
}

#email-icon{
    transform: translateX(5px);
}

.input-group-text img {
    height: 24px; /* Icon size */
    width: auto; /* Maintain aspect ratio */
}

.form-control {
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    flex: 1; /* Allow the input to grow */
    height: 60px; /* Height of the input */
    padding: 0 15px; /* Add padding inside the input */
    margin-left: -10px;
}

.btn-gold {
    height: 50px; /* Match the height of the input */
    width: 150px;
    background: linear-gradient(to right, #b89453, #f2c94c); /* Gold gradient */
    border: 3px solid linear-gradient(to left, #FFFFFF, #7E5E2C, #E8BC4D); /* Add border */
    color: white; /* Text color */
    padding: 0 30px; /* Adjust padding */
    border-radius: 50px; /* Rounded corners */
    font-weight: 200; /* Bold text */
    margin-left: 5px; /* Space between input and button */
    margin-right: 5px;
    box-sizing: border-box; /* Include border in dimensions */
}

.fill-col{
    height: 100%;
}

.joinus-footers-col {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: flex-start; /* Align items to the left */
    font-size: 20px;
    font-weight: 400;
    margin-top: -5%;
}

.joinus-footers-col p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer-heading-col{
    font-size: 22px;
    margin-bottom: 40%;    
}

.footer-elements-col {
    margin-top: 50px;
    margin-bottom: 50px; /* Add some spacing between items */
    font-weight: 200; /* Make the font as thin as possible */
}
.joinus-col{
    transform: translateX(25px);
}

.joinus-col, .chart-col {
    background-color: transparent; /* Remove background color */
    height: auto; /* Allow height to adjust based on content */
    transform: translateY(25px);
}



#rights-sect {
    background-image: url('/assets/PNG/HOMEPAGE/Background/rights.png');
    height: 49px; /* Full viewport height */
    background-size: cover; /* Ensure the background image covers the entire area */
}

.rights-text{
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}